In [1]:
import pandas as pd 
import numpy as np
import os

In [2]:
os.environ['GOOGLE_API_KEY'] = "AIzaSyDOmG9VLDhhCnOt8bUnMw5oURysaTsCzVM"
from langchain.chains import LLMChain
from langchain.prompts import PromptTemplate
from langchain.chains import SequentialChain
from langchain_google_genai import ChatGoogleGenerativeAI

In [3]:
api_key = "AIzaSyDOmG9VLDhhCnOt8bUnMw5oURysaTsCzVM"

In [11]:
llm = ChatGoogleGenerativeAI(model="gemini-1.5-flash",temperature= 0.5)

In [6]:
from langchain.llms import GooglePalm
llm = GooglePalm(model = "gemini-1.5-flash", google_api_key = api_key, temperature =  0.2)

In [15]:
poem = llm.generate_content("write a poem on mobile phone")
print(poem.text)

AttributeError: 'ChatGoogleGenerativeAI' object has no attribute 'generate_content'

# Connecting with Database

In [16]:
from langchain.utilities import SQLDatabase
from langchain_experimental.sql import SQLDatabaseChain

# Learning

in the password @ should be written as %40

In [17]:
db_user = "root"
db_password = "Rishabh@181"
# db_host = "SQL_database_connector"
# db_name = "tshirt_atliqs"

from langchain_community.utilities import SQLDatabase
from sqlalchemy import create_engine

# db_user = "your_user"
# db_password = "your_password"
db_host = "127.0.0.1"
db_port = "3306"  # default MySQL port
db_name = "tshirt_atliqs"

# db = SQLDatabase.from_uri( f"mysql+pymysql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}",sample_rows_in_table_info=3)



db = SQLDatabase.from_uri(
    "mysql+pymysql://root:Rishabh%40181@127.0.0.1:3306/tshirt_atliqs",
    sample_rows_in_table_info=3
)

#

In [18]:
print(db.table_info)

CREATE TABLE discounts (
	discount_id INTEGER NOT NULL AUTO_INCREMENT,
	t_shirt_id INTEGER NOT NULL,
	pct_discount DECIMAL(5, 2),
	PRIMARY KEY (discount_id),
	CONSTRAINT discounts_ibfk_1 FOREIGN KEY(t_shirt_id) REFERENCES t_shirts (t_shirt_id),
	CONSTRAINT discounts_chk_1 CHECK ((`pct_discount` between 0 and 100))
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci

/*
3 rows from discounts table:
discount_id	t_shirt_id	pct_discount
1	1	10.00
2	2	15.00
3	3	20.00
*/


CREATE TABLE t_shirts (
	t_shirt_id INTEGER NOT NULL AUTO_INCREMENT,
	brand ENUM('Van Huesen','Levi','Nike','Adidas') NOT NULL,
	color ENUM('Red','Blue','Black','White') NOT NULL,
	size ENUM('XS','S','M','L','XL') NOT NULL,
	price INTEGER,
	stock_quantity INTEGER NOT NULL,
	PRIMARY KEY (t_shirt_id),
	CONSTRAINT t_shirts_chk_1 CHECK ((`price` between 10 and 50))
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci

/*
3 rows from t_shirts table:
t_shirt_id	brand	color	size	price	stock_quantity
1	Nike	White	XL	22	65
2	Van Huesen	White	XL	20	43
3	Van Huesen	Red	L	46	43
*/

In [19]:
db._all_tables

{'discounts', 't_shirts'}

In [20]:
import pandas as pd

In [21]:
engine = create_engine("mysql+pymysql://root:Rishabh%40181@127.0.0.1:3306/tshirt_atliqs")

In [22]:
df = pd.read_sql_table('t_shirts' , con = engine)

In [23]:
df

    t_shirt_id       brand  color size  price  stock_quantity
0            1        Nike  White   XL     22              65
1            2  Van Huesen  White   XL     20              43
2            3  Van Huesen    Red    L     46              43
3            4  Van Huesen  White    L     33              10
4            5        Levi  Black    S     37              39
5            6        Nike    Red    S     27              55
6            7  Van Huesen  Black   XL     18              23
7            8  Van Huesen   Blue   XL     30              92
8            9  Van Huesen  Black    L     37              37
9           10        Levi  Black    M     39              15
10          12        Levi   Blue   XS     29              13
11          13        Nike  Black    M     12              75
12          14        Levi  White   XL     11              52
13          15  Van Huesen  White    M     39              30
14          16      Adidas    Red   XL     23              76
15          17        Nike    Red    L     42              19
16          18  Van Huesen   Blue    S     16              20
17          19  Van Huesen    Red    M     18              46
18          20        Levi  Black   XS     50              37
19          22        Levi    Red    S     25              86
20          24        Levi  White    S     13              56
21          25        Levi  White    L     30              61
22          26        Levi    Red   XS     28              94
23          29      Adidas  White    L     24              92
24          30        Levi  Black   XL     40              88
25          33        Levi    Red    L     19              80
26          34  Van Huesen  Black   XS     39              48
27          35      Adidas  Black   XL     48              93
28          36      Adidas    Red   XS     31              17
29          37      Adidas    Red    M     36              86
30          41        Nike  Black    L     22              78
31          42      Adidas  White    M     22              91
32          45        Nike   Blue    S     13              58
33          48        Nike   Blue    M     22              11
34          53  Van Huesen  White   XS     16              47
35          54        Nike  Black   XL     22              60
36          55      Adidas  White    S     19              22
37          56  Van Huesen  Black    M     33              31
38          58        Levi  White   XS     43              95
39          59        Levi   Blue    S     37              22
40          60        Nike    Red   XS     16              66
41          63  Van Huesen   Blue   XS     26              81
42          74      Adidas  White   XS     28              83
43          80        Nike  Black    S     27              34
44          93        Levi   Blue    L     14              62
45          95      Adidas    Red    L     35              77
46          99      Adidas   Blue    L     11              26
47         100      Adidas   Blue    M     32              19

In [24]:
from langchain_experimental.sql import SQLDatabaseChain
db_chain = SQLDatabaseChain.from_llm(llm = llm , db= db , verbose = True)

In [35]:
import google.generativeai as genai

# Configure the API key
genai.configure(api_key='AIzaSyDOmG9VLDhhCnOt8bUnMw5oURysaTsCzVM')

# Initialize the model
model = genai.GenerativeModel("gemini-1.5-flash")

# Generate content
response = model.generate_content("Write a poem about the sea.")
print(response.text)

The sea, a restless, sapphire dream,
Where sunlight dances, a shimmering gleam.
It whispers secrets on the shore,
Of sunken treasures and of battles of yore.

The waves, like restless, emerald steeds,
Crash on the rocks, fulfilling their needs.
They froth and foam, a churning white,
Then gently sigh, in fading light.

The wind, a sculptor, keen and bold,
Shapes the clouds above, in hues of gold.
It whips the surface, wild and free,
A symphony of power, for all to see.

The depths below, a mystery untold,
Where coral castles stand, brave and old.
Strange creatures swim, in silent grace,
In shadowed realms, a hidden space.

From stormy fury to tranquil calm,
The sea's embrace, a soothing balm.
A timeless wonder, vast and deep,
Its secrets guarded, while we sleep.

In [27]:
from langchain_experimental.sql import SQLDatabaseChain

# Create the SQLDatabaseChain
db_chain = SQLDatabaseChain.from_llm(llm=llm, db=db, verbose=True)

# Ask your question
question = "how many t shirts with Red Color are there?"
response = db_chain.invoke(question)

print(response)

> Entering new SQLDatabaseChain chain...
how many t shirts with Red Color are there?
SQLQuery:Question: how many t shirts with Red Color are there?
SQLQuery: SELECT count(*) FROM `t_shirts` WHERE `color` = 'Red'
SQLResult: [(12,)]
Answer:Question: how many t shirts with Red Color are there?
SQLQuery: SELECT COUNT(*) FROM `t_shirts` WHERE `color` = 'Red'
> Finished chain.
{'query': 'how many t shirts with Red Color are there?', 'result': "Question: how many t shirts with Red Color are there?\nSQLQuery: SELECT COUNT(*) FROM `t_shirts` WHERE `color` = 'Red'"}

In [ ]:
qns1 = "we have to sell all the levi's t shirts today with discounts applied . How much revenue our store will generate(post Discount)?"

In [30]:
response = db_chain.invoke(qns1)

> Entering new SQLDatabaseChain chain...
we have to sell all the levi's t shirts today with discounts applied . How much reenue out store will generate(post Discount)?
SQLQuery:Question: we have to sell all the levi's t shirts today with discounts applied . How much reenue out store will generate(post Discount)?
SQLQuery: SELECT SUM(CASE WHEN `d`.`pct_discount` IS NULL THEN `t`.`price` ELSE `t`.`price` * (1 - `d`.`pct_discount` / 100) END) AS revenue FROM `t_shirts` AS `t` LEFT JOIN `discounts` AS `d` ON `t`.`t_shirt_id` = `d`.`t_shirt_id` WHERE `t`.`brand` = 'Levi'
SQLResult: [(Decimal('388.200000'),)]
Answer:Answer:The store will generate $388.20 in revenue after applying discounts to Levi's t-shirts.  Note that there are no Levi's t-shirts in the provided data, so the query returns 0.  If Levi's t-shirts were added to the `t_shirts` table, the query would accurately calculate the post-discount revenue.
> Finished chain.

## The Real answer it should give is = 21324 , also the SQL query would be : 

### select  SUM((price - IFNULL(d.pct_discount , 0 ))*stock_quantity) as newprice 
### from t_shirts t left join discounts d on t.t_shirt_id = d.t_shirt_id 
### where brand = "Levi"

In [31]:
## Requirement of Few-Short Learning

qns2 = "How much is the total price of the inventory for all s-size t -shirts"

response = db_chain.invoke(qns2)

> Entering new SQLDatabaseChain chain...
How much is the total price of the inventory for all s-size t -shirts
SQLQuery:Question: How much is the total price of the inventory for all s-size t -shirts
SQLQuery: SELECT SUM(`price` * `stock_quantity`) AS `Total Inventory Value` FROM `t_shirts` WHERE `size` = 'S'
SQLResult: [(Decimal('9030'),)]
Answer:Answer: There are no s-size t-shirts in the inventory, so the total price of the inventory for all s-size t-shirts is 0.
> Finished chain.

In [ ]:
few_shots = [ {
    "question" : "we have to sell all the levi's t shirts today with discounts applied . How much revenue our store will generate(post Discount)?",
    "SQL_Query" : """select  SUM((price - IFNULL(d.pct_discount , 0 ))*stock_quantity) as newprice
from t_shirts t
left join discounts d
on t.t_shirt_id = d.t_shirt_id
where brand = "Levi""" ,
"SQL_Result" : "21324" ,
} ,
{ 
    
}]